# Import the data source file

In [5]:
import pandas as pd
df1= pd.read_csv("zomato.csv")

# Dropping the unnecessary columns.

In [7]:
df2=df1.drop(columns=['url','phone','rest_type','dish_liked','reviews_list','menu_item','listed_in(city)'] , axis=1)

# Renaming certain columns for easier reading

In [8]:
df3=df2.rename(columns={'approx_cost(for two people)':'two_people_cost','listed_in(type)':'type_of_restaurant'})

In [9]:
df3

,address,name,online_order,book_table,rate,votes,location,cuisines,two_people_cost,type_of_restaurant
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,"North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,"Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,"North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...
51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Continental,"1,500",Pubs and bars
51713,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Finger Food,600,Pubs and bars
51714,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Finger Food,"2,000",Pubs and bars
51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Finger Food,"2,500",Pubs and bars
51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Finger Food, North Indian, Continental","1,500",Pubs and bars

# Renaming rate to rating

In [10]:
df4=df3.rename(columns={'rate':'rating'})

In [11]:
df4

,address,name,online_order,book_table,rating,votes,location,cuisines,two_people_cost,type_of_restaurant
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,"North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,"Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,"North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...
51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Continental,"1,500",Pubs and bars
51713,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Finger Food,600,Pubs and bars
51714,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Finger Food,"2,000",Pubs and bars
51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Finger Food,"2,500",Pubs and bars
51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Finger Food, North Indian, Continental","1,500",Pubs and bars

# Dropping null value rows on the basis of location , cuisines, two_people_cost

In [13]:
df4=df4.dropna(subset=['location'])
df4=df4.dropna(subset=['cuisines','two_people_cost'])

In [14]:
df4

,address,name,online_order,book_table,rating,votes,location,cuisines,two_people_cost,type_of_restaurant
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,"North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,"Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,"North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...
51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Continental,"1,500",Pubs and bars
51713,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Finger Food,600,Pubs and bars
51714,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Finger Food,"2,000",Pubs and bars
51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Finger Food,"2,500",Pubs and bars
51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Finger Food, North Indian, Continental","1,500",Pubs and bars

# Converting two_people_cost into int data type, then diving it by 2 to get cost for 1 person and renaming it to cost for one

In [16]:
df4['two_people_cost']=df4['two_people_cost'].str.replace(',', '').astype(int)
df4['two_people_cost']=df4['two_people_cost']/2
df4=df4.rename(columns={'two_people_cost':'cost_per_person'})

In [17]:
df4

,address,name,online_order,book_table,rating,votes,location,cuisines,cost_per_person,type_of_restaurant
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,"North Indian, Mughlai, Chinese",400.0,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,"Chinese, North Indian, Thai",400.0,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Mexican, Italian",400.0,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,"South Indian, North Indian",150.0,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,"North Indian, Rajasthani",300.0,Buffet
...,...,...,...,...,...,...,...,...,...,...
51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Continental,750.0,Pubs and bars
51713,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Finger Food,300.0,Pubs and bars
51714,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Finger Food,1000.0,Pubs and bars
51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Finger Food,1250.0,Pubs and bars
51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Finger Food, North Indian, Continental",750.0,Pubs and bars

# Getting info on the remaining null values

In [21]:
df4.isna().sum()

address                  0
name                     0
online_order             0
book_table               0
rating                7670
votes                    0
location                 0
cuisines                 0
cost_per_person          0
type_of_restaurant       0
dtype: int64

In [22]:
df4['rating']

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51712    3.6 /5
51713       NaN
51714       NaN
51715    4.3 /5
51716    3.4 /5
Name: rating, Length: 51352, dtype: object

# Remove any non-numeric characters and convert to float

In [23]:
def handlerate(x):
    try:
        return float(x.split('/')[0])
    except:
        return None

# Applying the function to modify the rating to a float

In [24]:
df4['rating'] = df4['rating'].apply(handlerate)

In [25]:
df4

,address,name,online_order,book_table,rating,votes,location,cuisines,cost_per_person,type_of_restaurant
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,"North Indian, Mughlai, Chinese",400.0,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,"Chinese, North Indian, Thai",400.0,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Mexican, Italian",400.0,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,"South Indian, North Indian",150.0,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,"North Indian, Rajasthani",300.0,Buffet
...,...,...,...,...,...,...,...,...,...,...
51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Continental,750.0,Pubs and bars
51713,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,Whitefield,Finger Food,300.0,Pubs and bars
51714,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,Whitefield,Finger Food,1000.0,Pubs and bars
51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Finger Food,1250.0,Pubs and bars
51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Finger Food, North Indian, Continental",750.0,Pubs and bars

In [26]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51352 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             51352 non-null  object
 1   name                51352 non-null  object
 2   online_order        51352 non-null  object
 3   book_table          51352 non-null  object
 4   rating              41410 non-null  float64
 5   votes               51352 non-null  int64
 6   location            51352 non-null  object
 7   cuisines            51352 non-null  object
 8   cost_per_person     51352 non-null  float64
 9   type_of_restaurant  51352 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 4.3+ MB

# Filling null values with the mean of ratings.

In [27]:
df4['rating'] = df4['rating'].fillna(df4['rating'].mean)

In [28]:
df4.isna().sum()

address               0
name                  0
online_order          0
book_table            0
rating                0
votes                 0
location              0
cuisines              0
cost_per_person       0
type_of_restaurant    0
dtype: int64

# Saving cleaned data

In [30]:
df4.to_csv('zomato_cleaned_data_analysis.csv')